// custom theme colors

$primary: #0f5cf2;
$warning: #ffb800;
$success: #00bc8b;
$danger: #ff4b33;
$grey-400: #ced4da;
$purple: #50439f;
$light-blue: #eff9ff;
$light-yellow: #fdf5e8;

$theme-colors: (
    "primary": $primary,
    "warning": $warning,
    "success": $success,
    "danger": $danger,
    "grey-400": $grey-400,
    "purple": $purple,
    "light-blue": $light-blue,
    "light-yellow": $light-yellow,
);
